@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@200&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-color: #0c0e18;
  color: #d2d8f9;
  width: 100vw;
}
body .App {
  height: 100vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.menu {
  display: inline-block;
}

.closed {
  display: none;
}

.nav {
  position: sticky;
  top: 0%;
  z-index: 1000;
}
.nav img, .nav .menu {
  position: absolute;
  z-index: 999;
  padding: 6.5%;
  width: 23.7%;
}
.nav #logo {
  left: 0;
}
.nav .menu {
  right: 0;
}
.nav .ham {
  position: relative;
  display: none;
  width: 100%;
}
.nav .open {
  display: inline-block;
}
.nav ul {
  z-index: -999;
  padding: 35% 10% 20%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vmax;
  width: 67%;
  background-color: #000000e0;
}
.nav li {
  text-transform: uppercase;
  list-style-type: none;
  text-indent: 0;
  text-align: left;
  margin-top: 10%;
}
.nav li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.2rem;
}
.nav li a .number {
  font-weight: bold;
  margin-right: 5%;
}

h1 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 5%;
}

h2 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 6%;
}

h5 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1%;
  font-family: "Barlow Condensed", sans-serif;
  color: #d2d8f9;
  letter-spacing: 0.2rem;
}

.home {
  padding-top: 17%;
  height: 100vh;
  background: #0c0e18 url("../assets/home/background-home-mobile.jpg") 0 100%/100% no-repeat;
  z-index: -2;
}
.home .text-content {
  margin-top: 17%;
}
.home p {
  font-family: "Barlow", sans-serif;
  padding: 0% 8%;
  line-height: 1.5rem;
}
.home .circle {
  display: inline-block;
  padding: 0;
  margin-top: 10%;
}
.home .circle:hover {
  background-color: #9797976b;
  width: 15em;
  height: 15em;
  border-radius: 7.5em;
}
.home .explore {
  margin-top: 15%;
  font-family: "Bellefair", serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #0c0e18;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  padding-top: 4.5rem;
}

.destinations {
  padding-top: 25%;
  height: 100vh;
  background: #0c0e18 url("../assets/destination/background-destination-mobile.jpg") 0 100%/100% no-repeat;
  z-index: -2;
}
.destinations h5 {
  color: white;
}
.destinations img {
  width: 45%;
  margin: 8%;
}
.destinations .comp-nav p {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1%;
  font-family: "Barlow Condensed", sans-serif;
  color: #d2d8f9;
  letter-spacing: 0.2rem;
  display: inline-block;
  margin: 0 2%;
  padding-bottom: 2%;
}
.destinations .comp-nav p:first-of-type {
  border-bottom: 3px solid white;
}
.destinations .comp-nav .active {
  color: white;
  border-bottom: 3px solid white;
}
.destinations .description {
  font-family: "Barlow", sans-serif;
  padding: 0% 8%;
  line-height: 1.5rem;
}
.destinations .travel-time {
  border-top: 0.1em solid white;
  margin: 7%;
  padding: 7%;
}
.destinations .travel-time p {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1%;
  font-family: "Barlow Condensed", sans-serif;
  color: #d2d8f9;
  letter-spacing: 0.2rem;
}
.destinations .travel-time p span {
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 5%;
  display: block;
}

/*# sourceMappingURL=index.css.map */
