@mixin mainCompRendered($bgimg){
    padding-top: 17%;
    height: 100vh;
    background: $dark-background url($bgimg) 0 100%/100% no-repeat;
    z-index: -2;
}

@mixin header($fontsize,$padding){
    font-family: $heading-family;
    font-weight: normal;
    color: $text-white;
    font-size: $fontsize;
    text-transform: uppercase;
    padding: $padding;
   
}