
@mixin mq($minwidth){
    @media screen and (min-width: $minwidth){
        @content
    }
}

@mixin mainCompRendered($bgimg,$paddingtop){
    padding-top: $paddingtop;
    min-height: 100vmax;
    height: max-content;
    background: $dark-background url($bgimg) center center/cover no-repeat fixed;
    z-index: -2;

}

@mixin header($fontsize,$margin){
    font-family: $heading-family;
    font-weight: normal;
    color: $text-white;
    font-size: $fontsize;
    text-transform: uppercase;
    margin: $margin;
   
    @include mq(600px){
        font-size: ($fontsize * 2);
    }
}

@mixin header5{
    @include header(1rem, 1%);
    font-family: $body-family;
    color: $text-white;
    letter-spacing: .2rem;
    span{
        color: $light-background;
    }

    @include mq(600px){
        text-align: left;
        font-size: 1.5rem;
    }
}

@mixin mobileImg($width,$margin){
    width:$width;
    margin: $margin;
}

@mixin desc($pdgside){
    font-family: 'Barlow', sans-serif;
    padding: 0% $pdgside;
    line-height: 1.5rem;
}
