$dark-background: hsl(230, 35%, 7%);
$text-white: hsl(0, 0%, 100%);
$heading-family: 'Bellefair', serif;
$body-family: 'Barlow Condensed', sans-serif;
$body-text: hsl(231, 77%, 90%);
$nav-mobile: #000000e0;
$light-background: #9797976b;
