@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@200&family=Bellefair&display=swap');
@import 'variables';
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: $body-family;
}

// body styles
body{
    background-color: $dark-background;
    color: $body-text;
    width: 100vw;

    .App{
        height: 100vh;
    }
}

// hamburger show and hide
.hide{
    display: none;
}
.show{
    display: block;
}
.menu{
    display: inline-block;
}
.closed{
    display: none;
}

// global nav style
.nav{
    position: sticky;
    top: 0%;
    z-index: 1000;
    img, .menu{
        position: absolute;
        z-index: 999;
        padding: 6.5%;
        width: 23.7%;
    }
    #logo{
        left: 0;
    }
    
    .menu{
        right: 0;
    }
    .ham{
        position: relative;
        display: none;
        width: 100%;
    }
    .open{
        display: inline-block;
    }
    ul{
        z-index: -999;
        padding: 35% 10% 20%;
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vmax;
        width: 67%;
        background-color: $nav-mobile;
    }
    li{
        text-transform: uppercase;
        list-style-type: none;
        text-indent: 0;
        text-align: left;
        margin-top: 10%;
        a{
            color: $text-white;
            text-decoration: none;
            letter-spacing: .2rem;
            .number{
                font-weight: bold;
                margin-right: 5%;
            }
        }
    }
}

// heading font
h1{
    @include header(5rem, 5%);
}

h2{
    @include header(3rem, 6%);
}

h5{
    @include header5;
}

// home page styles
.home{
    @include mainCompRendered('../assets/home/background-home-mobile.jpg', 17%);

    .text-content{
        margin-top: 17%;
    }
    p{
        @include desc;
    }

    .circle{
        display: inline-block;
        padding: 0;
        margin-top: 10%;
        &:hover{
            background-color: $light-background;
            width: 15em;
            height: 15em;
            // border: 5rem solid black;
            border-radius: 7.5em;
        }
    }
    .explore{
        margin-top: 15%;
        font-family: $heading-family;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $dark-background;
        background-color: $text-white;
        text-decoration: none;
        display: inline-block;
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
        padding-top: 4.5rem;

    }
}

.destinations{
    @include mainCompRendered('../assets/destination/background-destination-mobile.jpg', 25%);

    h5{
        color: $text-white;
    }
    img{
        width: 45%;
        margin: 8%;
    }

    .comp-nav{
        p{
            @include header5;
            display: inline-block;
            margin: 0 2%;
            padding-bottom: 2%;
            &:first-of-type{
                border-bottom: 3px solid $text-white;
            } 
        }
        .active{
            color: $text-white;
            border-bottom: 3px solid $text-white;
        }
    }

    .description{
        @include desc;
    }
    .travel-time{
        border-top: .1em solid $text-white;
        margin: 7%;
        padding: 7%;

        p{
            @include header5;
            span{
                @include header(2rem, 5%);
                display: block;
            }
        }
    }

}

